
<div class="gradient-bg d-flex justify-content-center align-items-center" style="height: 78vh;">
  <div *ngIf="errorContainerIsVisible == true" class="d-flex align-items-center text-danger font_regular modal-settings p-2 rounded-4" style=" font-size: 1.1rem; border: 2px solid red;">
    <div>
      <div class="d-flex align-items-center text-center">
        <p>{{errorMessage}}</p>
      </div>
    </div>
  </div>

  <div *ngIf="successContainerIsVisible == true" class="d-flex align-items-center text-danger font_regular modal-settings p-2 rounded-4" style=" font-size: 1.1rem; border: 2px solid green">
    <div>
      <div class="d-flex align-items-center text-center">
        <p>{{successMessage}}</p>
      </div>
    </div>
  </div>


  <div class="d-flex align-items-center w-100 h-100" [ngClass]="{ 'unclickable-element': successContainerIsVisible }" [ngClass]="{ 'unclickable-element': errorContainerIsVisible }">
    
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center h-100">
      <div class="h-25 d-flex justify-content-start">
        <p class="text-danger font_regular mt-1" style="font-size: 2rem;">Choose your teams</p>
      </div>
      
      <div class="d-flex flex-column align-items-center rounded-4 justify-content-center bg-danger h-50" style="border: 4px solid rgb(226, 147, 160); width: 30%;">
        <div class="d-flex justify-content-center align-items-center">
          <div class="form-group mb-3" style="margin-right: 15px;">
            <label for="player1ComboBox" class="form-label text-light font_regular" style="font-size: 1.3rem;">Team 1</label>
            <select class="form-control bg-warning-subtle rounded-4"  [(ngModel)]="team1" id="player1ComboBox" style="border: 3px solid rgb(226, 147, 160);">
              <option value="">Choose Player</option>
              <option *ngFor="let participant of participants" [value]="participant.id">{{ participant.name }}</option>
            </select>
          </div>

          <div class="form-group mb-3">
            <label for="player2ComboBox" class="form-label text-light font_regular" style="font-size: 1.3rem;">Team 2</label>
            <select class="form-control bg-warning-subtle rounded-4" [(ngModel)]="team2" id="player2ComboBox" style="border: 3px solid rgb(226, 147, 160);">
              <option value="">Choose Team</option>
              <option *ngFor="let participant of participants" [value]="participant.id">{{ participant.name }}</option>
            </select>
          </div>
        </div>

        <div class="d-flex justify-content-center flex-column align-items-center">
          <label for="player" class="form-label text-light font_regular" style="font-size: 1.3rem;"><strong>Or Create a New Team</strong></label>
          <input type="text"   class="form-control bg-warning-subtle rounded-4" id="player" [(ngModel)]="teamsName" placeholder="Enter Teams name" style="border: 3px solid rgb(226, 147, 160);">
          <button type="button" (click)="createTeam()" class="button btn btn-outline-light rounded-4 mt-2">Create</button>
        </div>

        <div *ngIf="showNameError">
          <span style="font-size: 1rem;" class="font_regular text-danger-emphasis"> <i class="fa-solid fa-triangle-exclamation"></i> {{errorMessage}}</span>
        </div>
    </div>

      

      <div class="h-25 d-flex justify-content-center w-25 align-items-end">
        <div class="mb-1">
          <a routerLink="back" class="btn btn-danger rounded-4" style="margin-right: 15px;">Go Back</a>
          <a (click)="goToGameScreen()" class="btn btn-success rounded-4">Ready</a>
        </div>
      </div>
    </div>
</div>
</div>

