<div class="bg-warning-subtle d-flex justify-content-center" style="height: 78vh;"> 
  <div *ngIf="showErrorModal == true" class="d-flex align-items-center text-danger font_regular modal-settings p-2" style=" font-size: 1.1rem; border: 2px solid red;">
    <div>
      <div class="d-flex align-items-center text-center">
        <p>{{errorMessage}}</p>
      </div>
    </div>
  </div>
   
  <div class="d-flex justify-content-evenly align-items-center flex-column w-100 h-100" [ngClass]="{ 'unclickable-element': showErrorModal } ">
      <div>
          <p class="font_regular text-danger" style="font-size: 1.5rem;">Confirm password of Gamemaster:</p>
      </div>

      <form [formGroup]="passwordForm" method="post" class="w-50" style="height: 80%;">
        <div class="font_regular text-danger w-100 d-flex flex-column justify-content-between align-items-center h-100" style="font-size: 1.1rem;">
            <div></div>    
            
              <div class="w-75 d-flex flex-column justify-content-center align-items-center mb-5 p-2 bg-danger-subtle" style="border: 2px solid green">
              <div class="w-50 mb-2"> 
                <label for="currentPassword" class="form-label">Current Password</label>
                <input formControlName="password" type="password" class="form-control border-2 border-danger bg-warning-subtle" id="currentPassword" placeholder="Enter your current password">
              </div>
              
              <div *ngIf="showPasswordError">
                <span style="font-size: 1rem;" class="font_regular text-danger-emphasis"> <i class="fa-solid fa-triangle-exclamation"></i> {{passwordError}} </span>
              </div>

              <div *ngIf="passwordForm.get('password')?.hasError('required') && passwordForm.get('password')?.touched" class="text-center ">
                  <span style="font-size: 1rem;" class="font_regular text-danger-emphasis"> <i class="fa-solid fa-triangle-exclamation"></i> This field is required</span>
              </div>
              <div  *ngIf="passwordForm.get('password')?.hasError('minlength') && passwordForm.get('password')?.touched" class="text-center ">
                  <span style="font-size: 1rem;" class="font_regular text-danger-emphasis"> <i class="fa-solid fa-triangle-exclamation"></i> Password must at least 8 characters long</span>
              </div>
              <div  *ngIf="passwordForm.get('password')?.hasError('maxlength') && passwordForm.get('password')?.touched" class="text-center ">
                  <span style="font-size: 1rem;" class="font_regular text-danger-emphasis"> <i class="fa-solid fa-triangle-exclamation"></i> Passwords length cannot exceed 32 characters</span>
              </div>

              <div  *ngIf="passwordForm.get('password')?.hasError('invalidPassword') && !passwordForm.get('password')?.hasError('minlength') && !passwordForm.get('password')?.hasError('maxlength') && passwordForm.get('password')?.touched && !passwordForm.get('password')?.hasError('required')"  class="text-center ">
                  <span style="font-size: 1rem;" class="font_regular text-danger-emphasis"> <i class="fa-solid fa-triangle-exclamation"></i> Password must contain at least one lowercase letter, one uppercase letter, one number, and one special character</span>
              </div>
              
              <div class="w-50 mt-2 mb-2">
                <label for="confirmCurrentPassword" class="form-label">Confirm Password</label>
                <input type="password" formControlName="confirmedPassword" class="form-control border-2 border-danger bg-warning-subtle" id="confirmCurrentPassword" placeholder="Confirm your password">
              </div>
                
              <div *ngIf="showConfirmedPasswordError">
                <span style="font-size: 1rem;" class="font_regular text-danger-emphasis"> <i class="fa-solid fa-triangle-exclamation"></i> {{confirmedPasswordError}} </span>
              </div>
            
              <div  *ngIf="passwordForm.get('confirmedPassword')?.hasError('required') && passwordForm.get('confirmedPassword')?.touched" class="text-center ">
                  <span style="font-size: 1rem;" class="font_regular text-danger-emphasis"> <i class="fa-solid fa-triangle-exclamation"></i> This field is required</span>
              </div>

              <div  *ngIf="passwordForm.get('confirmedPassword')?.hasError('passwordMismatch')" class="text-center ">
                  <span style="font-size: 1rem;" class="font_regular text-danger-emphasis"> <i class="fa-solid fa-triangle-exclamation"></i> Passwords do not match</span>
              </div>
          </div>
          
          <div class="btn-group" role="group" aria-label="Basic example">
            <a routerLink="back" class="btn btn-danger rounded-4" style="margin-right: 10px;">Back</a>
            <button (click)="onSubmit()" type="submit" class="btn btn-success rounded-4">Change Password</button>
          </div>
         
        </div>     
      </form>
  </div>
</div>
