<div class="bg-warning-subtle d-flex flex-column align-items-center" style="height: 78vh;">
   <div class="d-flex w-100 h-75 justify-content-between"> 
      <a routerLink="back" class="btn btn-danger rounded-4 mt-1" style="height: 10%; margin-left: 5px;">Back</a>
      
      <img src="../../assets/messi.jpg" alt="" class="img-fluid h-100 w-75 rounded-4 mt-1" style="border: 2px solid red;">
          
      <a routerLink="next" class="btn btn-danger rounded-4 mt-1" style="height: 10%; margin-right: 5px;">Next</a>
    </div>
    <div class="d-flex justify-content-between align-items-center h-25">
      <a routerLink="result" class="btn btn-success rounded-4 font_regular" style="margin-right: 15px;">Right</a>
    <div class="d-flex flex-column align-items-center">
      <p class="text-danger font_regular mt-1 p-3 rounded-4" style="font-size: 1.2rem; border:2px solid red">Is messi the fucking goat?</p>
      <button type="button"  class="button btn btn-primary rounded-4 font_regular text-white">Answer</button>
    </div>
    <a routerLink="result" class="btn btn-danger rounded-4 font_regular" style="margin-left: 15px;">Wrong</a>
    </div>
  
  </div> 
  
  <!-- If no photo is included -->
  
  <!-- <div class="bg-warning-subtle d-flex flex-column align-items-center justify-content-center" style="height: 78vh;">
    <div class="d-flex justify-content-between align-items-center">
      <button class="btn btn-success rounded-4 font_regular" style="margin-right: 15px;">Right</button>
    <div class="d-flex flex-column align-items-center">
      <p class="text-danger font_regular mt-1 p-3 rounded-4" style="font-size: 1.2rem; border:2px solid red">Is messi the fucking goat?</p>
      <button class="button btn btn-primary rounded-4 font_regular text-white mt-5">Answer</button>
    </div>
    <button class="btn btn-danger rounded-4 font_regular" style="margin-left: 15px;">Wrong</button>
    </div>
  
  </div> -->
  
  
  <!-- If it is a top5 -->
  
  <!-- <div class="bg-warning-subtle d-flex flex-column" style="height: 78vh;">
    
    <div class="d-flex flex-column align-items-center" style="font-size: 1.2rem;" >
      <div>
        <p class="text-danger font_regular mt-1 p-3 rounded-4" style="font-size: 1.2rem; border:2px solid red">Is messi the fucking goat?</p>
      </div>
      
    <div class="font_regular text-dark mt-5">
        <div class="form-check form-check-reverse">
          <input class="form-check-input" type="checkbox" value="" id="reverseCheck1">
          <label class="form-check-label" for="reverseCheck1" >
            Reverse checkbox
          </label>
        </div>
        <div class="form-check form-check-reverse mt-2">
          <input class="form-check-input" type="checkbox" value="" id="reverseCheck1">
          <label class="form-check-label" for="reverseCheck1">
            Reverse checkbox
          </label>
        </div>
        <div class="form-check form-check-reverse mt-2">
          <input class="form-check-input" type="checkbox" value="" id="reverseCheck1">
          <label class="form-check-label" for="reverseCheck1">
            Reverse checkbox
          </label>
        </div>
        <div class="form-check form-check-reverse mt-2">
          <input class="form-check-input" type="checkbox" value="" id="reverseCheck1">
          <label class="form-check-label" for="reverseCheck1">
            Reverse checkbox
          </label>
        </div>
        <div class="form-check form-check-reverse mt-2">
          <input class="form-check-input" type="checkbox" value="" id="reverseCheck1">
          <label class="form-check-label" for="reverseCheck1">
            Reverse checkbox
          </label>
        </div>     
      </div>
  
      <div>
        <a href="" class="btn btn-danger rounded-4 mt-5">Ready</a>
    </div>
    </div>
  </div> -->
  
  
