<div style="height: 100vh;">
    
        <header class="bg-warning-subtle border-bottom border-2 border-danger d-flex"
        style="height: 17vh">
                <div class="w-25">
                </div>

                <div *ngIf="logoFunctional" class="w-50 d-flex text-center align-items-center h-100"> 
                    <a routerLink="menu"><img  src="./../../assets/QuizballLogoo.png" class="img-fluid w-50" alt="..."></a>
                </div>

                <div *ngIf="logoFunctional == false" class="w-50 d-flex text-center align-items-center h-100"> 
                    <img  src="./../../assets/QuizballLogoo.png" class="img-fluid w-50" alt="...">
                </div>

                <div *ngIf="showLogOut" class="dropdown w-25 d-flex align-items-center justify-content-end mb-2" style="margin-right: 5px;">
                    <button (click)="logout()" class="btn btn-danger rounded-4">Log Out</button>
                </div>
            </header>

            
            <main> <router-outlet></router-outlet></main>

        <footer class="footer bg-warning-subtle font_regular text-danger border-top border-2 border-danger d-flex align-items-end" style="height: 5vh; text-align: start; font-size: 1rem;">Copyright 2023 Quizball</footer>
     
</div>



