<div class="gradient-bg d-flex justify-content-between align-items-center flex-column" style="height: 78vh;">
    <div class="mt-2">
    <p class="text-danger font_regular" style="font-size: 2rem;">Teams or Players</p>
        </div>
        <div class="d-flex flex-column align-items-center p-3 rounded-4" style="border: 2px solid green;">                          
            <div class="btn-group" role="group" aria-label="Basic example">
                <a (click)="players()" class="btn btn-outline-danger rounded-4" style="margin-right: 15px;">Your Players</a>
                <a (click)="teams()" class="btn btn-outline-danger rounded-4">Your Teams</a>
            </div>           
        </div>
     

    <div class="btn-group" role="group" aria-label="Basic example">
        <a routerLink="back" class="btn btn-danger rounded-4 mb-2">Go Back</a>
    </div>   
</div>
