<div class="bg-warning-subtle d-flex justify-content-center" style="height: 78vh;">   
        <div class="h-75 d-flex align-items-center">
            <div class="btn-group-vertical mt-5" role="group" aria-label="Vertical button group">
                <a (click)="createGame()" routerLink="quick-game" class="btn btn-danger font_regular btn-font-size rounded-4">Quick Game</a>
                <a routerLink="custom-game" class="btn btn-danger font_regular mt-3 btn-font-size rounded-4">Custom Game</a>
                <a routerLink="player-or-team" class="btn btn-danger font_regular mt-3 btn-font-size rounded-4">Players/Teams</a>
                <a routerLink="account" class="btn btn-danger font_regular mt-3 btn-font-size rounded-4">Account</a>
            </div>
        </div>  
</div>





